<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td{
            border:1px solid black;
        }
    </style>
</head>
<body>
    <a href="logout">Logout</a>
    <a href="marks">add marks</a>.
    
        
            <p>first_name</p>
            <p>email</p>
            <p>username</p>
            <p>password</p>
            <p>age</p>
            <p>date</p>
            <p>address</p>
            <p>image</p>
            <p></p>
        
        
        
            <p>{{data.first_name}}</p>
            <p>{{data.email}}</p>
            <p>{{data.username}}</p>
            <p>{{data.password}}</p>
            <p>{{data.age}}</p>
            <p>{{data.date}}</p>
            <p>{{data.address}}</p>

            <p><img src="{{data.image.url }}" alt=""width="150px" height="150px"></p>
            <p><a href="{% url 'edit' id=data.id %}">Edit</a></p>
        

            
        </tr>
        
        
        
    
    <p>{{data.first_name}}</p>
</body>
</html>