<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="reg"method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Name</label>
        <input type="text"name="name" required><br><br>
        <label for="">Email</label>
        <input type="text"name="email"required><br><br>
        <label for="">Username</label>
        <input type="text"name="username" required><br><br>
        <label for="">Password</label>
        <input type="text"name="password" required><br><br>
        <label for="">Age</label>
        <input type="text"name="age"required><br><br>
        <label for="">Date</label>
        <input type="date" id="birthday"name="date" required><br><br>
        <label for="">Address</label>
        <input type="text"name="address" required><br><br>
        <label for="">Image</label>
        <input type="file"name="image"required><br><br>
        <input type="submit">
    </form>
</body>
</html>